/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/.gitignore
/.idea/laravel-idea.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/statamic-speeltuin.iml
/.idea/vcs.xml
/.ddev/homeadditions/.composer/auth.json
/addons/impres/translatee/src/Domain/Export/exports/*
